{erl_opts, [hipe]}. 

{deps, [
    {erl_popcnt, "", {git, "https://github.com/titan098/erl-popcnt.git", {branch, master}}},
    {cryptopp, "", {git, "https://github.com/titan098/erl-cryptopp.git", {branch, master}}},
    {base58, "", {git, "https://github.com/titan098/erl-base58.git", {branch, master}}}
]}.
